* {
   font-family: 'Roboto', sans-serif;
   background-color: black;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container {
   display: flex;
   justify-content: flex-start;
   flex-direction: row;
 }

.sidebar {
   height: 100%;
   width: 300px;
   position: fixed; 
   top: 0;
   left: 0;
   padding-top: 20px;
   display: flex;
   flex-direction: column;
 }

 .main-section {
   margin-left: 200px;
   color: white;
   padding: 20px;
 }
 
 .sidebar a {
   display: block;
   color: white;
   padding: 8px 16px;
   text-decoration: none;
   transform: rotate(90deg);
   transform-origin: left top;
   white-space: nowrap;
 }
 

 .sidebar a:hover {
   background-color: #bcbcff;
   color: white;
   text-decoration: underline;
 }


 .aboutme {
   color: white;
 }
