html {
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
}

p {
   font: 14pt Georgia;
}

h1, h2, h3{
   text-align: center;
}

h1 {
   font: 100px bold Georgia;
}

h2 {
   font: 50px bold Georgia;
}

h3 {
   font: 40px bold Georgia;
}

h4 {
   font: 30px bold Georgia;
}

h5 {
   font: 25px bold Georgia;
}

h6 {
   font: 20px bold Georgia;
}

.textcolor {
   background-color: #edebeb;
   border-radius: 25px;
   padding: 10px; 
   margin: 50px 50px 50px 50px;
}

body{
   background-color: #bcbcff;
}

.container {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
}

.around {
   padding: 0;
   margin: 5px;
}